<h3>Movies show</h3>
<h5><%= link_to "Back to all movies", movies_path %></h5>

<ul>
  <ol>
    <ol>Title: <%= @movie.title %></ol>
    <ol>Overview: <%= @movie.overview %></ol>
    <ol>Rating: <%= @movie.rating %>/10</ol>
    <ol><%= link_to "Delete",
      movie_path(@movie),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %></ol>
    <img src="<%= @movie.poster_url %>" alt="poster of <%= @movie.title %>" class="img-thumbnail">
  </ol>
</ul>
